/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

/*-------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	line-height: 1;
  background-color: black;
  background-image: url("street.jpg");
  background-attachment: fixed;
	width: 100%;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------*/

/*---------------Menu--------------------------------*/

.menu{
  background-color:#5c6672;
  padding: 1.0em;
  opacity: 0.7;
  position: fixed;
  padding-right: 4.3em;
	top: 0;
	left: 0;
	width: 100%;
	z-index: +1;

}

#navlist li
{
display: inline;
list-style-type: none;
text-decoration: none;
padding-left: 3.1em;

}

#navlist li a
{
text-decoration: none;
color: white;


}

#navlist img
{
width: 1.5em;
margin-right: 2em;
float: right;
position: relative;
padding: 0.1em;


}


/*------------webwinkel------------------------*/

.webwinkel{
	margin-top: 3.7em;
}

/*--------------content------------------------*/

.content{
	background-color:#5796ac;
	margin-top: 60em;
	width: auto;
	border-top: solid 3.0em  #5c6672;
  display: inline-block;


}

.paragraphe{

	height: 40.1em;
	width: 60%;
	float: left;
	margin-left: 2em;
	/*background-color: yellow;*/
}

.text{
	/*background: blue;*/
	width: 50%;
	height: 30em;
	display: inline-block;


}

.text h1{
	color: #f7b801;
	font-weight: bold;
	/* padding: 1.0em; */
	font-size: 2.0em;
	margin-top: 2em;
	margin-bottom: 1em;
	float:left;
	/*background-color: red;*/


}

.text p{
	color: #f7b801;
	padding: 1.0em;
	border-left: solid 0.2em #f7b801;
	float: left;

}

.content img{
	position: absolute;
	margin-left: 55em;
	margin-top: -24em;
	width: 70.1em;

}

.content-left{
	background-image: url("front-back.jpg");
	/*float: right;*/
	height: 30.1em;
	width: 50%;
	float: left;

}

.content-left-event{
	background-image: url("front2.jpg");
	/*float: right;*/
	height: 30.1em;
	width: 50%;
	float: left;

}

.content-contact{
	/*float: right;*/
	height: 30.1em;
	width: 50%;
	float: left;

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    padding: 2em;
		margin-top: 2.5em;
		float: right;
}



/*----------extra content----------*/

.content2{
	/*width: 100%;*/

	background-color: #f4d35e;
	height: 122em;
	width: auto;
	padding-left: 2em;
}

.content2 h4{
	color: #5796ac;
	font-weight: bold;
	padding-top: 2.0em;
	margin-bottom: 2.0em;
}

.content2 img{
	width: 38em;
	overflow: hidden;

}

form{
	float: right;
	margin-top: -3em;
}

.input{

	height: 30em;
	width: 40em;
	float: right;
	margin-right: 20em;
}



input[type=submit]{
	background-color:  #f7b801;
	border-radius: 5px;
	margin: 2px;
	border: none;

}

/*---------footer---------------*/

.footer{
  height: 3.0em;
  background-color: #5c6672;

}




/*--------END------------------*/
/*--------responsive-code------*/

@media (max-width: 1881px){
.content2{
 height: 60%;
padding-bottom: 4em;
}


@media (max-width: 1881px){
.content2 img{
 width: 32%;

}

@media (max-width: 1510px){
.content-left{
		margin-left: 0em;
		width: 50%;
		background-image: url("front-back-small.jpg");
}

@media (max-width: 1510px){
.content-contact{
		margin-left: 0em;
		width: 50%;
}

@media (max-width: 1391px){
.text h1{
font-size: 1.5em;
}

@media (max-width: 1200px){
.paragraphe{
width: 80%;

}

@media (max-width: 1047px){
	.paragraphe{
		float: left;
		margin-left: 0em;
		width: 100%;
		height: 20em;
		border: none;



}

@media (max-width: 1047px){
.content-contact{
		margin-left: 0em;
		width: 94%;
}

@media (max-width: 1047px){
.text h1{
font-size: 1.5em;
margin-top: 2em;
margin: 1em;
}

@media (max-width: 1047px){
	.text{
		height: 22em;
		width: 100%;
		margin: auto;
		/*background-color: red;*/


}

@media (max-width: 1047px){
	.text p{
border-left: none;
margin-left: 0.5em;



}

@media (max-width: 1047px){
	.content-left{
		width: 100%;

}

@media (max-width: 1047px){
	.content-left-event{
		width: 100%;
		background-image: url("front2-small.jpg");

}

@media (max-width: 1045px){
	#navlist li{
	font-size: 1.2em;
		padding-left: 0.5em;
		font-weight: bold;
		display: block;
		background-color: grey;
		width: 85%;
		margin-bottom: 0.5em;
		padding: 0.3em;
}

@media (max-width: 728px){
	.text{
		height: 24em;
		width: 100%;
		margin: auto;
		/*background-color: red;*/


}

@media (max-width: 728px){
	.container{
		padding: 2em;
margin-top: 2.5em;
margin-right: 0%;
margin-left: 0%;
}

@media (max-width: 570px){
	.content{
		height: 57em;

}

@media (max-width: 570px){
	.content2 img{
		width: 94%;

}



@media (max-width: 530px){
	#navlist li{
	font-size: 1.0em;
		padding-left: 2.0em;
		font-weight: bold;

}

@media (max-width: 520px){
	.content-left{
		width: 100%;
		background-image: url("front-back-smaller.jpg");

}

@media (max-width: 530px){
	#navlist li{
	font-size: 0.8em;
		padding-left: 2.0em;
		font-weight: bold;

}

@media (max-width: 490px){
	#navlist li{
	font-size: 1.2em;
		padding-left: 0.5em;
		font-weight: bold;
		display: block;
		background-color: grey;
		width: 85%;
		margin-bottom: 0.5em;
		padding: 0.3em;
}


@media (max-width: 450px){
	body{
		background-image: url("street2.jpg");

}

@media (max-width: 450px){
	.content-left-event{
		width: 100%;
		background-image: url("front2-smaller.jpg");

}

@media (max-width: 440px){
	.text{
		height: 26em;
		width: 100%;
		margin: auto;
		background-color: #5796ac;
		/*background-color: red;*/


}


@media (max-width: 435px){
	.content-left{
		width: 100%;
		background-image: url("front-back-smaller2.jpg");

}

@media (max-width: 420px){
	.container{
		padding: 2em;
margin-top: 2.5em;
margin-right: 0%;
margin-left: 0%;
}


@media (max-width: 400px){
	.content{
		height: 65em;

}




@media (max-width: 345px){
	.content-left{
		width: 100%;
		background-image: url("front-back-smaller3.jpg");

}

@media (max-width: 345px){
	.container{
		margin-top: 3em;

}


@media (max-width: 332px){
	.content{
		height: 68em;

}

@media (max-width: 332px){
	.content h1{
		font-size: 1.2em;

}



@media (max-width: 291px){
	.content-left{
		width: 100%;
		background-image: url("front-back-smaller4.jpg");

}
